.vs
obj
.git

ValidateIdAPI/ValidateId.Bussines/obj
ValidateIdAPI/ValidateId.Bussines/bin

ValidateIdAPI/ValidateId.Domain/obj
ValidateIdAPI/ValidateId.Domain/bin

ValidateIdAPI/ValidateId.Infrastructure/obj
ValidateIdAPI/ValidateId.Infrastructure/bin

ValidateIdAPI/ValidateIdAPI/obj
ValidateIdAPI/ValidateIdAPI/bin